body{
	margin: 0;
}
#search {
	width:50%;
	margin: 150px auto; 
	border: 1px solid black;
}
.holder {
	text-align: center;
}
.bbutton {
	border-radius: 0;
	background-color: lightgrey;
	padding: 5px;
	border: 0;
}